.advantages {
    min-height: 470px;
    padding: 70px 0 81px 0;
    background: url(../img/bg_second/screen.jpg) center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: row;
    }
    &__icons {
        display: flex;
        margin: 0 auto;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: #0d0d0d;
        flex-direction: column;
        flex-wrap: wrap;
        img{
            margin: 65px 0 38px 0;
        }
    }
    &__subheader {
        width: 243px;
        margin-top: 25px;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        line-height: normal;
        color: #0d0d0d;
        a {
            color: $main-color;
            text-decoration: none;
            font-weight: 500;
        }
    }
    &__icon {
        &_animated {
            animation: heartbeat 1.3s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
}
